.container-form {
  width: 15vw;
  min-width: 250px;
}

.newGame {
  visibility: hidden;
}

.stopGame {
border-radius: 5px;
height: 40px;
line-height: 40px;
background-color: red;
color: #fff;
text-align: center;
cursor: pointer;
}

.canvas {
  width: 90vw;
  min-width: 1020px;
}

.over {
  position: absolute;
  visibility: hidden;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  border: 5px solid rgb(167, 123, 3);
  border-radius: 10px;
  padding: 10px 30px 15px 30px;
  background-color: #fff;
  z-index: 10;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

#canvas {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: 10px solid rgb(167, 123, 3);
  border-radius: 15px;
  background-color: #027912;
}

.chooseColor {
  position: absolute;
  visibility: hidden;
  z-index: 10;
}